{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whack an alien</title>

    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/whackAnAlien/moleCss.css' %}">

</head>
<body>
<h1>Whack an Alien</h1>
<div id="gameField">
    <div id="scoreField">
        <div id="scoreLabel">Score</div>
        <div id="playerScore"></div>
    </div>
    <div id="gameOver"></div>
    <div id="playField">
        <div id="row1" class="row">
            <div id="1" class="hole"></div><div id="2" class="hole"></div><div id="3" class="hole"></div><div id="4" class="hole"></div></div>
        <div id="row2" class="row">
            <div id="5" class="hole"></div><div id="6" class="hole"></div><div id="7" class="hole"></div><div id="8" class="hole"></div></div>
        <div id="row3" class="row">
            <div id="9" class="hole"></div><div id="10" class="hole"></div><div id="11" class="hole"></div><div id="12" class="hole"></div></div>
        <div id="row4" class="row">
            <div id="13" class="hole"></div><div id="14" class="hole"></div><div id="15" class="hole"></div><div id="16" class="hole"></div></div>
        <div id="row5" class="row">
            <div id="17" class="hole"></div><div id="18" class="hole"></div><div id="19" class="hole"></div><div id="20" class="hole"></div></div>
    </div>
    <div id="highScores">
        <div id="highLabel">High Scores</div>
        <div id="scores"><ol id="scoreList"></ol></div>
    </div>
</div>
    <div id="gameControl">
        <button id="start">Start</button>
        <button id="stop">Stop</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</body>
<script type="application/javascript">
        // $('.hole').html("<img src='hole.jpg' />");
var timer;
var interval = 1000;
var score = 0;
var filledHoles = [];
var highScores =[];

function randomHole() {
    var emptyHole = false;
    while (emptyHole === false){
        var hole = Math.floor(Math.random() * 100) % 20 + 1;
        if ($.inArray(hole, filledHoles) === -1) {
        emptyHole = true;}
        console.log("while");
    }
    console.log('hole: ' + hole);
    return  hole;
}

function randomAlien() {
    var alienNumber = Math.floor(Math.random() * 10) % 3 +1;
    var alien;
    if (alienNumber === 1){alien = "<img src='/static/portfolio/images/alienintophat.png'/>" ;};
    if (alienNumber === 2){alien= "<img src='/static/portfolio/images/alien.png'/>"};
    if (alienNumber === 3){alien = "<img src='/static/portfolio/images/tokingalien.png'/>"};

    return alien;
}



$('#start').click(function()
{
    for(var i =1; i < 20; ++i){
        $("#" +i).html('');
    }
    $('#gameOver').html("");
    $('#playerScore').html(score);
    timer = setInterval(set, interval);
});

function set() {

        var alien = "<img src='/static/portfolio/images/alien.png'/>";

        console.log(filledHoles.length);
        if (filledHoles.length === 20){
            gameOver();


        }else {
            var hole = randomHole();

            $('#' + hole).html(alien);
            filledHoles.push(hole);
            if (interval > 100) {
                interval -= 10;
            }

            else {
                interval = interval / 2;
            }
            // console.log(interval);
            clearInterval(timer);
            timer = setInterval(set, interval);
        }
    }

$("#stop").click(function () {
    gameOver();

});

$(".hole").click(function () {
    var hole = parseInt($(this).attr('id'));


    if($.inArray(hole, filledHoles) > -1){
        score += 100;

        filledHoles.splice(filledHoles.indexOf(hole), 1);
        $('#' + hole).html("<img src='/static/portfolio/images/splat.png'/>");
    } else {score -= 50}
    $('#playerScore').html(score);

})

function gameOver() {
    clearInterval(timer);

    $.ajax({
                url: {% url '' %},
                type: 'POST',
                data: {
                    pk: sessionId,
                },
                success: function (data, current) {
                    console.log(data);
                    console.log(current);
                    $('#highScores').html('');
                    $.each(data.data, function (index, ob) {
                        redrawScores(ob)
                    });

                }
            })







    highScores.push(score);
    highScores.sort();
    highScores.reverse();
    $('#scoreList').html('');

    for (var i =0; i < highScores.length; ++i){
        $('#scoreList').append('<li>'+ highScores[i] +'</li>');

    }
    score = 0;

    $('#gameOver').html("<img src='/static/portfolio/images/gameover.svg'/>");

}
</script>
</html>